<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
<head>
    <h1>
        <p class="text-dark">Новая игра</p>
    </h1>
</head>
<body>
<p>
<form method="post" action="/username" name="username" enctype="application/x-www-form-urlencoded"
      th:object="${usernameForm}">
    <label> Введите имя:
        <input type="text" class="text-black-50"/>
        <input type="submit" class="btn btn-dark btn-sm" name="Enter" value="Enter">
        <div th:each="error : ${#fields.errors('username')}" th:text="${error}" class="alert alert-danger" role="alert"></div>

    </label>
</form>
</p>
<p>
    <a href="/main" class="btn btn-outline-dark">На главную</a>
</p>

</body>
</html>