<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>Текст вопроса</th>
        <th>Верный ответ</th>
        <th>Неверный ответ</th>
        <th>Неверный ответ</th>
        <th>Неверный ответ</th>
        <th>Уровень сложности</th>
    </tr>
    <tr>
<td th:text="${question.getQuestion_text()}"></td>
<td th:text=" ${question.getCorrectAnswer()}"></td>
<td th:text=" ${question.getWrongAnswer1()}"></td>
<td th:text=" ${question.getWrongAnswer2()}"></td>
<td th:text=" ${question.getWrongAnswer3()}"></td>
<td th:text=" ${question.getLevel()}"></td>
    </tr>
</table>

<a th:href="@{/questions/{id}/edit(id=${question.getId()})}" class="btn btn-dark btn-sm">Редактировать</a>

<form th:method="DELETE" th:action="@{/questions/{id}(id=${question.getId()})}">
    <input type="submit" class="btn btn-outline-danger" value="Удалить"/>
</form>

<a href="/questions" class="btn btn-outline-dark">К списку вопросов</a>
</body>
</html>